<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="style.css">

    <title>Hello,!</title>
  </head>
  <body>
 

<div class="container">
  <div class="row">
    <div class="col">
      

  <div class="plugin-hit-card">
    
    <div class="header">
      <div class="row">

    <div class="col">
     <img class="" src="java.png" style="width:55px;height:55px;">
    </div>

    <div class="col">
      <p>Java SE 8, Programmer 1</p>
    </div>

     </div>  
    </div>

    <div class="body">
      <span>Rundeck Supported</span>
      <div class="body-excerpt">
      <h1>public static void main(String[] args)</h1>
          </div>
      </div>

      <div class="footer">
        <button type="button" class="btn btn-outline-success mr-3" style="float: right;">Register</button>
        <br>
        <br>
      </div>
      
  </div>

    </div>
    <div class="col">
      2 of 3
    </div>
   
  </div>
</div>




    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  </body>
</html>
